/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/Unit1/WS03Operators/BasicOperations/nbproject/private/
/workshops/Unit1/WS03Operators/BasicOperations/build/
/Assignments/Unit 1/HW02 Examples/Example 1/Example 1 Short/nbproject/private/
/Assignments/Unit 1/HW02 Examples/Example 2/Example2Int/nbproject/private/
/Assignments/Unit 1/HW02 Examples/Example 2/Example3Float/nbproject/private/
/Assignments/Unit 1/HW02 Examples/Example 1/Example 1 Short/build/
/Assignments/Unit 1/HW02 Examples/Example 2/Example2Int/build/
/Assignments/Unit 1/HW02 Examples/Example 2/Example3Float/build/
/workshops/WS04LogicalOperators/nbproject/private/
/workshops/WS04LogicalOperators/build/
/workshops/Unit1/WS05Iterations/nbproject/private/
/workshops/Unit1/WS05Iterations/build/
/Assignments/Unit 1/HW03/nbproject/private/
/Assignments/Unit 1/HW03/build/
/Assignments/Unit 1/HW03 Iterations/nbproject/private/
/Assignments/Unit 1/HW03 Iterations/build/